.photo{
    border: 2px solid #ffffff;
    margin: 20px auto;
    padding: 10px;
    height: 350px;
    width: 250px; }

h2 {
    margin: 20px;
    text-align: center; }

h3{
    color: #ffffff;
    text-align: center; }

a{
    color: #00ff00; }
