/* Placeholder "photo" */
.photo{
    border: 2px solid #fff;
    margin: 20px auto;
    padding: 10px;
    height: 350px;
    width: 250px;
    user-select: none; }

h2{
    color: #fff;
    margin: 20px;
    text-align: center;
    text-decoration: underline; }
h3{
    color: #fff;
    text-align: center; }

a{
    color: #fff; }
