.pageDesc{
    color: #ffffff;
    text-align: center; }
    
.codeSample{
    border: 2px solid #ffffff;
    margin: 5px 0px;
    padding: 6px 10px;
    width: fit-content; }

a{
    color: #00ff00; }
