/* Body style copied from main page */
body{
    background-color: black;
    color: lime;
    font-family: sans-serif; }

.pageDesc{
    color: #fff;
    text-align: center; }
    
.codeSample{
    border: 2px solid white;
    margin: 5px 0px;
    padding: 6px 10px;
    width: fit-content }

.navLinks{
    border: 2px solid white;
    padding: 2px 5px;
    width: fit-content; }

a{
    color: lime; }
