h2{
    color: #000;
    text-align: center;
    text-decoration: underline;
    text-shadow: 1px 1px 1px #0f0, 1px -1px 1px #01a301, -1px 1px 1px #01a301, -1px -1px 1px #0f0;
    user-select: none; }

a{
    color: #fff; }

.personalia th{
    user-select: none; }

fieldset{
    background-color: #fff;
    color: #000;
    border: 2px solid #808080;
    font-family: 'Lucida Sans';
    margin-bottom: 15px;
    width: 720px; }
legend{
    background-color: #fff;
    border: 2px solid #808080;
    font-weight: bold;
    padding: 1px 2px;
    user-select: none; }
tr{
    text-align: left; }
td{
    font-family: Arial;
    font-size: 1.05rem;
    padding-left: 8px; }
th::selection{
    background-color: #000;
    color: #fff; }
td::selection{
    background-color: #000;
    color: #fff; }
td a{
    color: #0f13eb; }
td a:hover{
    font-style: italic; }
td a::selection{
    background-color: #000;
    color: #f00; }
