h2{
    color: #000;
    text-align: center;
    text-decoration: underline;
    text-shadow: 1px 1px 1px #00ff00, 1px -1px 1px #01a301, -1px 1px 1px #01a301, -1px -1px 1px #00ff00; }

h3{
    color: #fff;
    text-decoration: underline; }

a{
    color: #fff; }

fieldset{
    background-color: #fff;
    color: #000;
    border: 2px solid #808080;
    font-family: 'Lucida Sans';
    margin-bottom: 15px;
    width: 720px; }
legend{
    background-color: #fff;
    border: 2px solid #808080;
    font-weight: bold;
    padding: 1px 2px; }
tr{
    text-align: left; }
td{
    font-family: Arial;
    font-size: 1.05rem;
    padding-left: 8px; }
td a{
    color: #0f13eb; }
td a:hover{
    font-style: italic; }
