h2{
    color: #fff;
    text-align: center;
    text-decoration: underline; }

a{
    color: #fff; }

.pageDesc{
    color: #fff;
    text-align: center; }

.gameMod{
    border: 2px solid #fff;
    margin: 5px 0px;
    padding: 6px 10px;
    width: fit-content; }

.gameDemo{
    border: 2px solid #fff;
    margin: 5px 0px;
    padding: 6px 10px;
    width: fit-content; }
