body{
    font-size: 1.1rem; }

h2{
    color: #fff;
    text-align: center;
    text-decoration: underline; }

a{
    color: #fff; }

/* Styling for page's description */
.pageDesc{
    color: #fff;
    text-align: center; }

/* Styling for the <div>s */
.gameMod{
    background-color: rgba(0, 0, 0, 80%);
    border: 2px solid #fff;
    display: inline-block;
    margin: 5px 0px;
    padding: 6px 10px;
    width: 275px; }

.gameDemo{
    background-color: rgba(0, 0, 0, 80%);
    border: 2px solid #fff;
    margin: 5px 0px;
    padding: 6px 10px;
    width: fit-content; }
