body{
    margin: 0; }

h2{
    color: #fff;
    text-align: center;
    text-decoration: underline; }

p{
    font-size: 17px; }

a{
    color: currentColor; }

.introtxt{
    text-align: center; }

/* About Me and CV banner */
.aboutBanner{
    border: 3px outset #808080;
    background-color: #fff;
    color: #000;
    height: 150px;
    width: 640px;
    margin: 0px auto 70px auto;
    text-align: center; }
.aboutBanner a{
    font-weight: bold;
    text-decoration: none; }
.aboutBannerTxt{
    margin: 65px auto;
    padding: 2px 4px;
    width: fit-content; }

/* Web and code banner */
.pageBanner{
    border: 3px outset #808080;
    background-color: #000;
    background-image: url("../images/wbpgbanner.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    width: 640px;
    margin: 0px auto 70px auto;
    text-align: center; }

.BannerTxt{
    background-color: #000;
    color: #0f0;
    margin: 65px auto;
    padding: 2px 4px;
    font-weight: bold;
    text-transform: uppercase;
    width: fit-content; }
.BannerTxt a:hover{
    font-style: italic; }

/* Games and mods banner */
.gBanner{
    color: #0f0;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    height: 179px;
    width: 100%; }
.gBanner p{
    background-color: #000;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    
    /* animation-name: bannerslide;
    animation-duration: 4500ms;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear; } */

/* @keyframes bannerslide{
    from{
        background-position: left; }
    to{
        background-position: 100%; } } */

/* Norwegian version link */
.norVer{
    background: linear-gradient(#f00, #fff, #00f, #fff, #f00);
    color: transparent;
    margin: 10px auto;
    width: fit-content; }
.norVer:hover{
    background: #fff;
    color: #000; }
.norVer p{
    font-size: smaller;
    font-weight: bold; }

/* English version link */
.engVer{
    background: linear-gradient(#00f, #fff, #f00, #fff, #00f);
    color: transparent;
    margin: 10px auto;
    width: fit-content; }
.engVer:hover{
    background: #fff;
    color: #000; }
.engVer p{
    font-size: smaller;
    font-weight: bold; }
