h2{
    color: #fff;
    text-align: center;
    text-decoration: underline; }

.pageDesc{
    color: #fff;
    text-align: center; }

.pageCode{
    border: 2px solid #fff;
    margin: 5px 0px;
    padding: 6px 10px;
    width: fit-content; }

a{
    color: #fff; }

.sample{
    border: 2px solid #fff; }
.sample p{
    background-color: #000;
    margin: 10px;
    padding: 2px 5px;
    width: fit-content; }
.sample a{
    color: #00ff00; }
.sample a:hover{
    font-style: italic; }
