h2{
    color: #fff;
    text-align: center;
    text-decoration: underline; }

a{
    color: #fff; }

.pageDesc{
    color: #fff;
    text-align: center; }

.pageCode{
    border: 2px solid #fff;
    margin: 5px 0px;
    padding: 6px 10px;
    width: fit-content; }

.sample{
    border: 2px solid #fff; }
.sample p{
    background-color: #000;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 4px 5px; }
.sample a{
    color: #0f0; }
.sample a:hover{
    font-style: italic; }
