/* Basic setup for all pages on the site */
body{
    background-color: #000000;
    color: #00ff00;
    font-family: sans-serif; }

/* Bold class to use less strong tags */
.bold{
    font-weight: bold; }

/* Navigation bar used across site */
.navLinks{
    border: 2px solid #00ff00;
    margin: 25px auto 5px auto;
    padding: 2px 5px;
    width: fit-content; }
.navLinks:hover{
    border: 2px solid #ffd700; }
.navLinks a:hover{
    color: #ffd700; }
