/* Basic setup for all pages on the site */
body{
    background: linear-gradient(to bottom right, #000, #000, #000, #000, #000,
    #000, #000, #808080, #000, #000, #000, #000, #000, #000, #000);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    font-family: sans-serif;
    margin: 0; }

::selection{
    background-color: #fff;
    color: #000; }

/* Bold class to use less strong tags */
.bold{
    font-weight: bold; }

/* Navigation bar used across site */
.navLinks{
    border: 2px solid #fff;
    background-color: #000;
    margin: 25px auto 5px auto;
    padding: 2px 5px;
    width: fit-content; }
.navLinks:hover{
    border: 2px solid #ffd700; }
.navLinks a:hover{
    color: #ffd700; }

/* Neon glow for headlines */
.neon{
    animation-name: nglow;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    letter-spacing: 0.1rem;
    user-select: none; }
@keyframes nglow{
    0%{
        color: #252525;
        text-shadow: 1px 1px 0.5px #003500, 1px -1px 0.5px #003500, -1px 1px 0.5px #003500, -1px -1px 0.5px #003500; }
    50%{
        text-shadow: 1px 1px 1px #01a301, 1px -1px 1px #01a301, -1px 1px 1px #01a301, -1px -1px 1px #01a301; }
    100%{
        color: #000;
        text-shadow: 1px 1px 1px #0f0, 1px -1px 1px #01a301, -1px 1px 1px #01a301, -1px -1px 1px #0f0; } }
